@import "tailwindcss";

@font-face {
  font-family: 'Pricedown';
  src: url('/pricedown.woff2') format('woff2'),
       url('/pricedown.woff') format('woff'),
       url('/pricedown.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}
